.title-job-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.location-job-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}