.name-university-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.degree-university-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.year-university-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}