@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.title-section {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 200% */
    letter-spacing: 8px;
    text-transform: uppercase;
}
.title-subsection {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}